{% extends 'home/base.html'%}

{% block content %}
<h1>
    Phonebook
</h1>

<h3>Add contact with regular form</h3>
<div id="addContactDiv1">
<form method="POST" id="newcontact1" autocomplete="off">
{% csrf_token %}
Name:
<input id="newContactName1" type = "text" name = "newContactName1">
Phone Number:
<input id="newContactNumber1" type = "text" name = "newContactNumber1">
<input type="submit" value="Submit">
</form>
</div>

</br>
<h3>Add contact with AJAX form</h3>
<div id="addContactDiv2">
<form method="POST" id="newcontact2" autocomplete="off" onsubmit="return addContact(event)">
{% csrf_token %}
Name:
<input id="newContactName2" type = "text" name = "newContactName2">
Phone Number:
<input id="newContactNumber2" type = "text" name = "newContactNumber2">
<input type="submit" value="Submit">
</form>
</div>

</br>
{% if contacts %}
<h3>Contacts: </h3>
<table class="table">
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Delete</th> 
    </tr>
    
    {% for p in contacts %}
    <tr>
        <td>{{p.name}}</td>
        <td>{{p.number}}</td> 
        <td><a href="" style="color:red;" onclick="return deleteContact(event, '{{p.id}}')">X</a></td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

{% endblock %}

{%block extra_js%}
<script>
function addContact(e){
    e.preventDefault();
    console.log("Add this!");
    $.ajax({
    type: "POST",
    data: {
        'newContactName2': $('#newContactName2').val(),
        'newContactNumber2':$('#newContactNumber2').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
    },
    success: function(response){
        $.get("/phonebook/", function(data){
            $('body').html(data);
        });
    }
    });
}

function deleteContact(e, tid){
    e.preventDefault();
    console.log("Delete this! "+tid);
    var conf=confirm("Are you sure you want to delete this contact?")
    if(conf){
        $.ajax({
        type: "GET",
        data: {
            'deleteContact': tid
        },
        success: function(response){
            $.get("/phonebook/", function(data){
                $('body').html(data);
            });
        }
        });
    }

}    
</script>
{%endblock%}
    