{% extends 'home/base.html'%}

{% block content %}
<h1>
    Phonebook
</h1>

<div id="addContactDiv">
<form method="POST" id="newcontact" onsubmit="return addContact(event)">
{% csrf_token %}
contact name:
<input id="newContactName" type = "text" name = "newContactName">
Phone Number:
<input id="newContactNumber" type = "text" name = "newContactNumber">
<input type="submit" value="Submit">
</form>

</div>

{% if contacts %}
<ul>
    {% for p in contacts %}
    <li>{{p.name}} {{p.number}}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}

{%block extra_js%}
<script>
function addContact(e){
    consol.log("it works!");
    }
</script>
{%endblock%}
    